{
  "extends": ["eslint:recommended", "plugin:import/errors", "prettier"],
  "rules": {
    "no-console": 1,
    "prefer-const": 2,
    "no-var": 2,
    "no-unused-vars": [
      "error",
      { "argsIgnorePattern": "req|res|next|val|options|err" }
    ],
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 60,
        "tabWidth": 4,
        "semi": true,
        "endOfLine": "auto"
      }
    ],
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error"
  },
  "plugins": ["import", "prettier", "react"],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module",
    "requireConfigFile": false,
    "babelOptions": {
      "presets": ["@babel/preset-react"]
    },
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "commonjs": true,
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  }
}
