.ProfileBox {
  background-color: #fff;
  border: var(--navBarColor);
  border-width: 0px;
  border-style: solid inset;
  border-radius: 5px;
  box-shadow: 3px 3px 10px var(--cardShadowColor);
  display: grid;
  grid-template-columns: 49% 49%;
  grid-gap: 20px;
  margin: auto auto auto auto;
  align-content: center;
  overflow: hidden;
  width: 80%;
  height: 100%;
  align-self: center;
  padding: 20px;
  margin-top: 20px;
}

.user {
  background-color: #fff;
  border: var(--navBarColor);
  border-width: 0px;
  border-style: solid inset;
  border-radius: 5px;
  box-shadow: 3px 3px 10px var(--cardShadowColor);
  display: grid;
  grid-template-columns: 70% 30%;
  margin: auto auto auto auto;
  align-content: center;
  overflow: hidden;
  width: 90%;
  height: 100%;
  align-self: center;
}
.user-preview {
  background-color: white;
  color: #fff;
  padding: 20px;
  width: 100%;
  height: 100%;
  border-radius: 3px;
}
.userDetails {
  background-color: var(--navBarColor);
  border: var(--navBarColor);
  border-width: 0px;
  border-style: solid inset;
  border-radius: 5px;
  box-shadow: 3px 3px 10px var(--cardShadowColor);
  margin: auto auto auto auto;
  align-content: center;
  overflow: hidden;
  width: 90%;
  height: 100%;
  align-self: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.boxTitle {
  align-self: center;
  justify-content: center;
  color: #2a265f;
  align-items: center;
  width: 100%;
  margin: auto;
}
.sideBorder {
  border-right: 3px dashed #2a265f;
}

.wrapProfile {
  padding: 20px;
  align-self: stretch;
  align-content: center;
  align-items: center;
}
.bottonBorder {
  border-bottom: 3px dashed #2a265f;
}

.CreateStorybtn {
  width: 70%;
  height: 26%;
  background-color: #365f8f;
  color: white;
  padding: auto;
  margin: 4px;
  margin-top: 9px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  align-content: center;
}
.CreateStorybtn:hover {
  background-color: #14365d;
}
.UpdateUserbtn {
  width: 70%;
  height: 26%;
  background-color: #365f8f;
  color: white;
  padding: auto;
  margin: 4px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  align-content: center;
}
.UpdateUserbtn:hover {
  background-color: #14365d;
}
.DeleteUserbtn {
  width: 70%;
  height: 26%;
  background-color: white;
  color: red;
  padding: auto;
  margin: 4px;
  border: red;
  border-width: 1px;
  border-style: solid inset;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  align-content: center;
}
.DeleteUserbtn:hover {
  background-color: red;
  color: white;
}
