:root {
  --bodyBackgroundColor: #d2ebf0;
  --bodyBackgroundColor1: #b9e7ee;
  --cardShadowColor: #83acb3;
  --navBarColor: #14365d;
  --storyTitleColor: #75a4ac;
  --cancelBtnColor: #8a8a8a;
  --secondaryColor: #9964b4;
}

@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rakkas");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: cursive;
}

body {
  background-image: linear-gradient(
    45deg,
    var(--bodyBackgroundColor),
    var(--bodyBackgroundColor1)
  );
  font-family: "Muli", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100px;
  margin: 0;
}

nav {
  display: block;
  width: 100%;
  height: fit-content;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: var(--navBarColor);
  margin-bottom: 60px;
  position: fixed;
  padding: 0;
  box-shadow: 0px 0px 5px 1px var(--cardShadowColor);
}
.navDiv {
  width: 100%;
  height: 48px;
}
.appLogoWrap {
  float: left;
  text-decoration: none;
  position: relative;
  top: 5px;
}
.appLogo {
  width: 30px;
  font-family: Rakkas;
  font-size: 30px;
  color: white;
  text-decoration: none;
  margin-top: 0;
  padding-left: 7px;
  position: relative;
  bottom: 15px;
}
.appLogo:hover {
  text-shadow: 3px 3px 10px var(--cardShadowColor);
}
.container {
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: auto;
  padding: 20px;
}
.story {
  background-color: #fff;
  border: var(--navBarColor);
  border-width: 0px;
  border-style: solid inset;
  border-radius: 5px;
  box-shadow: 3px 3px 10px var(--cardShadowColor);
  display: grid;
  grid-template-columns: 20% 80%;
  margin: auto auto auto auto;
  align-content: center;
  overflow: hidden;
  width: 90%;
  height: 100%;
  align-self: center;
}
.storyDetails {
  background-color: #fff;
  border: var(--navBarColor);
  border-width: 0px;
  border-style: solid inset;
  border-radius: 5px;
  box-shadow: 3px 3px 10px var(--cardShadowColor);
  display: grid;
  margin: auto auto auto auto;
  align-content: center;
  overflow: hidden;
  width: 90%;
  height: 100%;
  align-self: center;
  padding: 20px;
}
.story:hover {
  box-shadow: 5px 5px 10px 5px #83acb3;
}
.story h6 {
  opacity: 0.6;
  margin: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.story h2 {
  letter-spacing: 1px;
  margin: 10px 0;
}

.story-preview {
  background-color: var(--navBarColor);
  color: #fff;
  padding: 20px;
  width: 100%;
  height: 100%;
  max-width: 250px;
}

.story-preview a {
  color: #fff;
  display: inline-block;
  font-size: 11px;
  opacity: 0.6;
  margin-top: 30px;
  text-decoration: none;
}
.story-preview a span {
  font-size: 14px;
}
.story-preview a:hover {
  text-decoration: underline;
}
.storyTitle {
  color: var(--storyTitleColor);
}
.story-info {
  padding: 20px;
  position: relative;
  width: 100%;
}
.authorName {
  text-decoration: underline;
  opacity: 0.8;
}
.authorName:hover {
  color: #0000f7;
}

.storyDate {
  background-color: #ddd;
  border-radius: 3px;
  height: 5px;
  width: 100%;
}

.storyDate::after {
  border-radius: 3px;
  background-color: #2a265f;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
}

.storyDate-text {
  font-size: 13px;
  opacity: 0.7;
  letter-spacing: 0px;
}

.navSignUpLogIn {
  float: right;
  color: white;
  text-decoration: none;
  padding: 10px;
}
.logo {
  font-family: "Papyrus";
  font-weight: bold;
  font-size: 30px;
  color: white;
}
.icon {
  position: relative;
  /* Adjust these values accordingly */
  top: 3px;
  font-size: 18px;
}
.wrap {
  padding: 0px;
}
.FlexStoryList {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
.seeFullStory {
  font-size: 12px;
}
.storyBody {
  float: inline-end;
  padding-top: 30px;
  font-size: 16px;
}
.noUnderLine {
  text-decoration: none;
}

.Cancelbtn {
  width: 15%;
  height: wrap;
  background-color: white;
  color: var(--cancelBtnColor);
  padding: 10px;
  margin: 4px;
  border: var(--cancelBtnColor);
  border-width: 1px;
  border-style: solid inset;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  align-content: center;
  float: right;
  box-shadow: 3px 3px 10px var(--cardShadowColor);
}
.Cancelbtn:hover {
  background-color: var(--cancelBtnColor);
  color: white;
}
.shadow:hover {
  text-shadow: 3px 3px 10px var(--cardShadowColor);
}
.errorAlert {
  opacity: 1;
  border: red;
  color: rgb(236, 187, 187);
  background-color: rgba(0, 0, 0, 0.479);
  border-width: 2px;
  border-style: solid inset;
  border-radius: 5px;
  width: 50%;
  margin: auto;
  padding: 20px;
  align-content: center;
  align-items: center;
}
.successAlert {
  opacity: 1;
  border: rgb(0, 231, 0);
  color: rgb(85, 226, 85);
  background-color: rgba(0, 0, 0, 0.479);
  border-width: 3px;
  border-style: solid inset;
  border-radius: 5px;
  width: 50%;
  margin: auto;
  padding: 20px;
  align-content: center;
  align-items: center;
}
@media all and (max-width: 500px) {
  .navDiv {
    width: 100%;
    height: 100px;
  }
  .story {
    background-color: #fff;
    border: var(--navBarColor);
    border-width: 0px;
    border-style: solid inset;
    border-radius: 5px;
    box-shadow: 3px 3px 10px var(--cardShadowColor);
    display: flex;
    flex-direction: column;
    margin: auto auto auto auto;
    align-content: center;
    overflow: hidden;
    width: 90%;
    height: 100%;
    align-self: center;
  }

  .story-preview {
    background-color: var(--navBarColor);
    color: #fff;
    padding: 20px;
    width: 100%;
    height: 200px;
    margin: auto;
  }
}
